.my_carousel {
    position: relative;
    width: 760px;
    margin: 0px;
    background-color: #fff;
    margin: 30px auto 20px auto;

}

.carousel_container {
    height: 340px;
    margin: 0px;
    background: #a00 url(../img/background.jpg) no-repeat 0px 0px;


}
#carousel {
    margin: 0px auto 0px auto;
    width: 600px;
    height: 300px;

}
#carousel img {
    width: 300px;
    height: 225px;
    cursor: pointer;
}
.nextItem {
    position: absolute;
    top: 138px;
    left: 0;
    z-index: 1001;
    cursor: pointer;
}
.prevItem {
    position: absolute;
    top: 138px;
    right: 0;
    z-index: 1002;
    cursor: pointer;

}

.caption_container {
    width: 435px;
    border-left: 3px solid #713e1b;
    margin: 0px 0px 0px 165px;
    padding: 0px 0px 0px 20px;
}
#captions h2 {
    font-family: Georgia;
    font-size: 32px;
    font-weight: normal;
    margin: 0px 0px 5px 0px;
    color: #6d8824;
}
#captions p {
    font-family: Arial;
    font-size: 14px;
    color: #444;
    margin: 0px 0px 0px 3px;
}

.leaves {
    position: absolute;
    top: 270px;
    left: 102px;
    z-index: 1000;
}

.carousel_data {
    display: none;
}
