.sp {
    width: 500px;
    position: relative;
    margin: 0 0 10px 25px;
}

.sp .tabs {
    position: relative;
    z-index: 101; /*Tabs container is first but we want it to display on top of panels container*/
    display: none;
}

.sp .tabs span {
    display: inline-block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 12px 8px 12px;
    margin: 0px;
    background-color: #1ABC9C;
    cursor: pointer;
    position: relative;
    color:#fff;
}

.sp .tabs span:first-child {
    padding-left: 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-top-left-radius: 12px;
    -moz-border-radius-topleft: 12px;
    border-top-left-radius: 12px;
}

.sp .tabs span:last-child {
    padding-right: 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    border-top-right-radius: 12px;
}

.sp .tabs span.selected {
   background-color: #713e1b;
    border-bottom: 1px solid #fff;
}

.sp .panel_container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 10px;
    background-color: #fff;
    overflow: hidden;
    z-index: 100;
    margin-top: -1px; /* sets to of panel container 1 pixel below the bottom of the tab*/
}

.sp .panel_container .panel .panel_content { padding: 15px; }