.map_container {
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 325px;
	width: 760px;
	position: relative;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	margin: 0px 0px 0px 418px;
}
.map_container a.dot {
	background-image: url(../img/red-pin.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_container a.dot:hover {
	background-image: url(../img/yellow-pin.png);
}
.map_container a.dot.selected {
	background-image: url(../img/green-pin.png);
}
.map_container .form_continent {
	position: absolute;
	top: 265px;
	left: 30px;
}
.map_container .detail_container {
	position: absolute;
	top: 35px;
	left: 490px;
	width: 240px;
	height: 260px;
}
.map_container .city_detail {
	position: absolute;
	top: 0px;
	width: 230px;
	padding: 10px 0px 0px 12px;
	border: 1px solid #a9b5c8;

	border-radius: 10px;
}
.map_container .clear_both {
	clear: both;
	line-height: 1px;
}
.map_container .city_detail .city_photo {
	float: left;
	margin: 0px 15px 0px 0px;
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 5px 3px #4e5d74;
}
.map_container .city_detail .city_info {
	width: 130px;
	float: left;
}
.map_container h2 {
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
}
.map_container h3 {
	margin: 0px 0px 12px 0px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #2c3748;
}
.map_container p { margin: 0px 0px 12px 0px; }
.city_detail_container {
	display: none;
}